.row {
  display: flex; /* Use flexbox para o contêiner */
  justify-content: center; /* Centraliza horizontalmente */

}


  .sidebar {
    width: 400px; /* Largura fixa para o Sidebar */
    max-height: calc(100vh - 60px); /* Ajuste a altura máxima do Sidebar (considerando um cabeçalho de 60px, ajuste conforme necessário) */
    overflow-y: auto; /* Adiciona rolagem vertical quando o conteúdo exceder a altura */
    border-right: 1px solid #ddd; /* Opcional: Adiciona uma borda à direita do Sidebar */
    padding: 20px; /* Espaçamento interno */
  }

.chat-area {
  flex-grow: 1; /* Faz a ChatArea ocupar o espaço restante */
  max-width: 800px; /* Limite a largura máxima da ChatArea */
  margin-left: 10px; /* Espaçamento entre Sidebar e ChatArea */
}