.container-custom {
  padding: 15px;
  border: 1px solid #b0756b; /* Bordas em laranja */
  color: #939393;
  background-color: #f7f1f0; /* Fundo claro */
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

h2 {
  color: #b0756b; /* Cor do título */
  font-weight: bold; /* Negrito */
  margin-bottom: 15px; /* Espaço abaixo do título */
}

.text-center{
  text-align: center; /* Centraliza o título */
}

.list-group {
  margin-top: 10px; /* Espaço acima da lista */
}

.list-group-item {
  white-space: pre-wrap; /* Preserva quebras de linha e espaços */
 /* word-wrap: break-word;  Quebra as palavras grandes para evitar estouro de linha */

  background-color: #ffffff; /* Fundo branco para os itens da lista */
  border: 1px solid #dee2e6; /* Borda cinza clara */
  border-radius: 5px; /* Bordas arredondadas nos itens */
  padding: 10px; /* Espaçamento interno */
  margin-bottom: 10px; /* Espaço abaixo de cada item */
  transition: background-color 0.3s; /* Transição suave para hover */
}

.list-group-item:hover {
  background-color: #e9ecef; /* Cor de fundo ao passar o mouse */
}

.mb-1 {
  margin-bottom: 5px; /* Margem abaixo dos elementos com a classe mb-1 */
}

small {
  color: #6c757d; /* Cor cinza para o texto pequeno */
}

.birthday-container {
  padding: 20px;
  border: 1px solid #B06A00; /* Bordas em laranja */
  border-radius: 8px;
  background-color: #fcd08e; /* Fundo em tom claro de laranja */  
  color: #dc6700; /* Texto em tom escuro de laranja */
  font-size: 15px ;
  text-align: left;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.birthday-title {
  margin-bottom: 10px;
  color: #B06A00; /* Título em um tom mais vibrante de laranja */
  font-size: 25px ;
}

.birthday-list {
  list-style-type: none;
  padding: 0;
}

.birthday-item {
  padding: 8px 0;
  border-bottom: 1px solid #FFA500;
}

.chat-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.icon-spacing {
  margin-right: 8px; /* Define o espaçamento entre o ícone e o texto */
}

.card-body {

  flex-grow: 1;
  overflow-y: auto;
  max-height: 500px;
  display: flex;
  flex-direction: column-reverse; /* Inverte a direção da exibição das mensagens */
}

.message-container {

  padding: 10px;
}

.card-footer {
  padding: 10px;
  border-top: 1px solid #ddd;
}

.input-group {
  display: flex;
}

.input-group input {
  flex-grow: 1;
}

.custom-btn {
  background-color: #cae3c4 !important;
  color: #569546 !important;
}

.custom-card-header {
  background-color: #cae3c4 !important;
  color: #569546 !important;
}

.custom-card-title {
  font-size: 25px;
}

/* Estilo para mensagens recebidas */
.alert.alert-secondary {
  background-color: #f0f0f0; /* Cor de fundo para mensagens recebidas */
  color: #000;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Estilo para mensagens enviadas */
.alert.alert-primary {
  background-color: #d1e7dd; /* Cor de fundo para mensagens enviadas */
  color: #000;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: right; /* Alinha o texto à direita para destacar que é uma mensagem enviada */
}

.photo-gallery {
  transition: background-color 0.3s;
  border: 1px solid #007bff; /* Altere a cor da borda conforme necessário */
  border-radius: 8px; /* Borda arredondada opcional */
  padding: 16px; /* Espaçamento interno */
  background-color: #eaf4f7; /* Cor de fundo opcional */
  margin-bottom: 16px; /* Espaço inferior para separar do BirthdayBoard */
  margin-top: 16px; /* Adiciona espaço acima do PhotoGallery */
 
}


.photo-gallery:hover {
  background-color: #e9ecef;
}

.btn {
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  background-color: #007bff;
  color: #fff;
}


.photo-gallery {
  padding: 20px; /* Adiciona espaçamento interno ao redor da galeria */
}

.photo-gallery-title {
  font-size: 1.5rem; /* Ajuste o tamanho da fonte conforme necessário */
  
  color: #56a7bf;
}

.img-fluid {
  border-radius: 8px; /* Adiciona bordas arredondadas às imagens */
}


.phonelist-gallery-title{

  color:#7f94a9;
}


.phonelist-gallery{

  background-color: #f9fafb;
  color: #939393;
  padding: 15px;
  border-radius: 8px; /* Bordas arredondadas */



}
.phonelist-gallery{

  border: 1px solid #eff2f5; /* Altere a cor da borda conforme necessário */

}