.home-container {
  padding: 20px;
}

.welcome-banner {
  border-radius: 5px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.badge {
  font-size: 14px;
}

