.employee-photo-container {
    margin-left: auto; /* Para empurrar o quadro para a direita */
    display: flex;
    align-items: center;
  }
  
  .employee-photo {
    width: 120px; /* Ajuste a largura conforme necessário */
    height: 120px; /* Ajuste a altura conforme necessário */
    border-radius: 50%; /* Para fazer a foto em forma de círculo */
    object-fit: cover; /* Para garantir que a imagem cubra o espaço sem distorção */
    border: 3px solid #ff0000; /* Borda azul ao redor da foto */
    margin-right: 150px; /* Espaçamento à direita da foto */
    box-shadow: 0.2em 0.2em 0.4em rgba(0, 0, 0, 0.500);
  }

  .employee-photo-container {
    margin-left: auto;
    text-align: center;
   
  }
  
 
  
  .employee-photo-container .btn-link {
    font-size: 0.9rem;
    color: #007bff;
    text-decoration: none;
    margin-right: 150px; /* Espaçamento à direita da foto */
   
  }
  
  .employee-photo-container .btn-link:hover {
    text-decoration: underline;
  }

  .user-photo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .default-photo-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px; /* Ajuste conforme necessário */
    height: 100px; /* Ajuste conforme necessário */
    border-radius: 50%; /* Para criar um formato circular */
    background-color: #e9ecef; /* Cor de fundo para o ícone */
  }