/* Header.css */


.header-container {

  background-color: #f8f7f3;

    padding: 20px;
    display: flex;
    align-items: center; /* Alinha o logo e o texto verticalmente */
    border-bottom: 2px solid #ddd;
  }
  
  .header-logo {
    width: 250px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin-right: 40px; /* Espaçamento entre o logo e o texto */
   

  }

  .header-logo1 {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin-left: 140px;
    margin-right: 40px; /* Espaçamento entre o logo e o texto */
  }

  .header-logo2 {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin-right: 40px; /* Espaçamento entre o logo e o texto */
  }
  
  .header-text {
    text-align: left;
  }
  
  .header-title {
    font-size: 40px; /* Aumentei o tamanho da fonte */
    color: #ee3737; /* Usei um tom de vermelho mais elegante (Vermelho Escuro) */
    font-family:  'Arial', sans-serif; /* Substituí pela fonte 'Georgia' para um estilo mais sofisticado */
    font-weight: 600; /* Mantenha um peso menor que bold, mas ainda com destaque */
    font-style: italic; /* Mantive o itálico para dar sofisticação */
    border-bottom: 2px solid #CD5C5C; /* Defini uma borda sutil com mais contraste */
    text-shadow: 0.1em 0.1em 0.2em rgba(139, 0, 0, 0.5); /* Reduzi o tamanho da sombra para um efeito mais suave */
    margin: 0;
}

  
  .header-subtitle {
    font-size: 45px; /* Subtítulo um pouco menor */
    color: #064260; /* Um tom de vermelho mais claro para contraste */
    font-family:  'Arial', sans-serif;
    text-shadow: 0.1em 0.1em 0.2em rgba(22, 3, 82, 0.384);
    margin: 5px 0 0;
  }

  .header-text {
    font-size: 45px; /* Subtítulo um pouco menor */
    color: #000000; /* Um tom de vermelho mais claro para contraste */
    font-family:  'Arial', sans-serif;
    text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.384);
    margin: 5px 0 0;
  }
  
