.custom-navbar {
  background-color: #606873; /* Cor de fundo do Navbar */
  border-bottom: 5px solid #d52121; /* Barra inferior vermelha */
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start; /* Alinha tudo à esquerda */
  align-items: center;
  font-family: 'Arial', sans-serif;
  color: #ffffffc7; /* Cor do texto */
  font-weight: bold;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Mantém os links alinhados à esquerda */
  width: 100%;
}

.navbar-brand {
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  margin-right: 40px; /* Espaçamento entre o logo e os links */
}

.navbar-links {
  display: flex;
  align-items: center; /* Garante que os links fiquem na mesma linha */
  gap: 50px; /* Aumentando o espaçamento entre os links */
}

.nav-link {
  font-size: 18px;
  color: #ffffff; /* Cor inicial dos links */
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Estilo ao passar o mouse */
.nav-link:hover {
  background-color: #b22222; /* Fundo vermelho no hover */
  color: #ffffff; /* Texto branco */
}

/* Link ativo - cor diferente para cada link */
.nav-link.active {
  background-color: #b22222; /* Fundo laranja para o link ativo */
  color: #ffffff; /* Texto branco no link ativo */
  border-bottom: 3px solid #ffffff5b; /* Barra inferior branca para o link ativo */
}
